body {
    font-family: cursive, sans-serif;
    text-align: center;
}

header {
    background-color: #333;
    color: white;
    font-size: x-large;
    padding: 10px 20px;
    position: relative;
}

.user-options {
    position: absolute;
    right: 10px;
    padding-top: 10px;
}

.user-menu {
    background-color: rgb(60, 168, 223);
    color: rgb(9, 9, 9);
    border: 1px solid rgb(60, 168, 223);
    position: absolute;
    right: 0;
    display: none;
    width: 200px;
}

.user-menu ul {
    list-style-type: none;
    padding: 0;
}

.user-menu ul li a {
    color: rgb(255, 255, 255);
    padding: 3px;
    display: block;
    text-decoration: none;
}

.user-menu ul li a:hover {
    background-color: #000000;
}

.hidden {
    display: none;
}

nav ul {
    background-color: #333;
    list-style-type: none;
    margin: 0;
    padding: 10;
    text-align: left;
}

nav ul li {
    background-color: rgb(60, 168, 223);
    display: inline-block;
    margin-right: 5px;
    /* Added a margin for spacing between menu items */
}

nav ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: transparent;
    /* Ensures the bisque color shows through */
}

nav ul li a:hover {
    background-color: #000000;
}

footer {
    margin-top: 20px;
}